.bgMain {
  background-color: #d8151500;
  position: absolute;
  z-index: 0;
}

.firstPart {
  display: flex;
  width: 92%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 8%;
  z-index: 2;
}
