.bgMain {
    background-color: #d8151500; /* Transparent background color */
    position: absolute;
    z-index: 0;
  }
  
  .firstPart,
  .secondPart,
  .thirdPart {
    flex: 1; /* All sections take equal space */
    width: 100%; /* Full width of the parent */
    z-index: 2; /* Adjust z-index as needed */
  }
  
  /* Optional: Add background colors for visualization */
  .firstPart {
    background-color: rgba(255, 0, 0, 0.3); /* Light red */
  }
  
  .secondPart {
    background-color: rgba(0, 255, 0, 0.3); /* Light green */
  }
  
  .thirdPart {
    background-color: rgba(0, 0, 255, 0.3); /* Light blue */
  }
  