.formatter img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image maintains aspect ratio */
  opacity: 0.5;
}

.dashboardDevider {
  display: flex;
  width: 92%;
  height: 100%;
  background-color: rgba(162, 162, 162, 0);
}

.dashboardDeviderRight {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgba(6, 148, 6, 0);
}

.dashboardDeviderLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kodchasan", sans-serif;
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.dropdownCont {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(23, 219, 30, 0);
  display: flex;
  padding-top: 3%;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 250px;
  background-color: rgba(0, 123, 255, 0);
  width: 30%;
  padding-left: 5%;
}

.dropdown-btn {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  font-family: "Kodchasan", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  font-size: 2rem;
}
.iconddcont {
  width: 20%;
  background-color: rgba(0, 0, 255, 0);
  text-align: right;
}
.IconDropDown {
  padding-top: 7%;
  width: 25px;
  height: 25px;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: 5.5%;
  background-color: rgb(255, 255, 255);
  border: 2px solid #0077ff00;
  width: 100%;
  border-radius: 8px;
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  background-color: #2d8b96;
  border-radius: 5px;
}

.custom-dropdown.open .dropdown-list {
  display: block;
}

.firstFloor {
  width: 100%;
  height: 76%;
  border-radius: 8px;
  background-color: #2d444600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstFloor img {
  width: 80%;
  height: 85%;
}

.room {
  display: block;
  background-color: rgba(23, 214, 228, 0);
  width: 100%;
}

.room button:first-child {
  margin-left: 5%;
}

.roomButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Kodchasan", sans-serif;
  margin-right: 10px; /* Space between buttons */
}

.roomButton:hover {
  background-color: #aef0f9;
}

.activeButton {
  background-color: #eaf8fa; /* Light blue color */
}

/* LEFT SIDE */

.searchContainer {
  position: relative;
  width: 100%; /* Adjust width as needed */
  background-color: rgba(255, 0, 0, 0);
  margin-top: 3%;
  margin-left: 5%;
}

.searchInput {
  width: 59%;
  padding: 10px 10px 10px 40px; /* Space for icon on the left */
  font-size: 1rem;
  border: 1px solid #3d3d3d;
  border-radius: 25px;
  outline: none;
}

.searchButton {
  position: absolute;
  left: 15px; /* Position inside input */
  top: 53%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.searchIcon {
  width: 20px;
  height: 20px;
  color: #555; /* Adjust icon color */
  pointer-events: none;
}

/* FIRST FLOOR LOG */

.firstFloorLog {
  width: 77%;
  height: 25%;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 20px;
  margin-top: 7%;
  margin-left: 5%;
  padding-top: 5%;
}

.ffLogTable {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  color: #0b3236;
  background-color: rgba(255, 0, 0, 0);
}

.ffLogTable td {
  text-align: center; /* Center the content horizontally */
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  padding: 1%;
  padding-bottom: 3%;
  vertical-align: middle; /* Centers content vertically if needed */
}

.line-with-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 85%; /* Adjust the width of the line */
  margin: 0 auto; /* Center the line */
  height: 1px;
  background-color: #2d8b96;
}

.line-with-circle::before {
  content: "";
  position: absolute;
  left: 0; /* Position the circle at the start of the line */
  width: 4px; /* Circle diameter */
  height: 4px;
  background-color: #2d8b96;
  border-radius: 50%; /* Make it a circle */
}

.fflogTime {
  color: #0b3236;
  font-weight: 400;
  margin-left: 20%;
  padding-left: 16%;
}

.ffuserLog {
  color: #0b3236;
  margin-left: 5%;
  padding-left: 16%;
}

.deviceControl {
  background-color: rgba(165, 73, 73, 0);
  width: 83%;
  height: 35%;
  border-radius: 25px;
  padding: 5px;
  padding-top: 10px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}


.deviceControl p {
  font-family: "Kodchasan", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

.devTitle{
  margin-left: 2% !important;
}

.devices {
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow-x: none; 
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #c4c4c4 transparent;
  background-color: rgba(0, 0, 0, 0);
}

/* For Webkit Browsers (Chrome, Safari) */
.devices::-webkit-scrollbar {
  height: 10px;
}

.devices::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}

.accessGate,
.cameraFF {
  flex: 0 0 auto; /* Prevent flex items from shrinking */
  width: 40%; /* Maintain consistent width */
  height: 77%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1%;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 5%;
}



.accessGateImage,
.cameraImage {
  margin-top: 5%;
  margin-left: 5%;
  width: 40px;
  height: 40px;
  object-fit: contain; /* Ensure the image scales properly */
}

.accessGateImage,
.cameraImage{
 width: 55px;
 height: 55px;

}
.accessGate p{
  margin-top: 5%;
}
.accessGate p,
.accessGate span {

  padding-left: 10%;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  word-wrap: break-word; /* Wrap text if needed */
  overflow: hidden; /* Prevent text overflow */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.switch-container {
  margin-top: auto;
  margin-bottom: 5%;
  align-self: center;
}

/* Camera */

.cameraFF p{
  margin-top: 5%;
}

.cameraFF p,
.cameraFF span {
  padding-left: 10%;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}




.switch-container {
  margin-top: auto;
  margin-bottom: 5%;
  align-self: center;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 35px;
  margin-right: 7%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c4c4c4;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  top: 8px;
  left: 4px;
  bottom: 6.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
  background: linear-gradient(180deg, #6fa6ac 0%, #598489 47.5%, #2d4446 100%);
  border-radius: 40px;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

